# === Node.js ===
node_modules/
**/node_modules/

# package managers
.pnpm-store/
.npm/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# builds & caches
dist/
build/
.next/
.out/
.cache/
coverage/
.tmp/
.temp/
.eslintcache
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

# env & local
.env
.env.*
!.env.example

# OS/IDE noise
.DS_Store
Thumbs.db
*.log
logs/
.vscode/
.idea/
